fastapi
uvicorn
sqlalchemy
python-jose
passlib[bcrypt]
python-multipart
pydantic-settings
sqladmin
langchain
langchain-community
langchain-google-genai
langchain-openai
pdfplumber
reportlab
pypdf
python-dotenv
openinference-instrumentation-langchain
arize-phoenix
pypdf